.koz {
  overflow: hidden;
  margin-top: 10px;
  padding: 128px;
  padding-bottom: 143px;
  position: absolute;
  border: solid 1px transparent;
  border-radius: 8px;
  opacity: 0;
  &:hover {
    opacity: 1;
    background-color: rgba(0, 255, 248, 0.5);
  }
}
.images {
  @include responsive-mobile(mobile) {
    width: 278px;
    height: 278px;
  }
}
.link {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.section {
  margin-top: 15px;
  margin-bottom: 24px;
  width: 100%;
}
.main__container {
  background-color: #15263f;
  border: solid 1px transparent;
  border-radius: 15px;
  box-shadow: 0px 25px 50px 0px #00000018;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .equib__link {
    font-family: $font-family;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    width: 100%;
    &:hover {
      color: #00fff8;
    }
  }
}
.main__titl {
  display: flex;
  align-items: center;
  width: 100%;
}
.main__titl-link {
  display: flex;
  align-items: center;
  gap: 9.03px;
  margin-left: auto;
  width: 100%;
  .description {
    color: #8bacd9;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    @include responsive-mobile(mobile) {
      font-size: 15px;
    }
  }
}
.main__description {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #8bacd9;
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
}
.line {
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
}
.jules {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  width: 100%;
}
.jules__description {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  width: 100%;
  text-align: left;
  color: #8bacd9;
  @include responsive-mobile(mobile) {
    font-size: 15px;
  }
}
.jules__titl {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  width: 100%;
  &:hover {
    color: #00fff8;
  }
  @include responsive-mobile(mobile) {
    font-size: 15px;
  }
}
